.example-card {
  max-width: 600px;
  margin: 30px;
  text-align: justify;
}
.none{
  list-style: none;
  padding-left: 0;
  font-size: 16px;
}
.none li{
  padding: 10px 0;
}
.info-img{
  width: 100%;
}
