.example-card {
  max-width: 400px;
  margin-bottom: 15px;
  display: inline-block;
  margin: 15px;
  cursor: pointer;
}
.example-form{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.img{
  height: 450px;
}
.movie-lists{
  text-align: center;
}
